.image-1 {
  width: 90px;
  height: 90px;
  display: inline-flex;
  margin-left: 30px;
  position: relative;
  top: 10px;
  padding-top: 10px;
}
.name {
  margin-left: 10px;
  margin-right: 80px;
  display: inline-flex;
  margin-bottom: 20px;
  position: relative;
  bottom: 15px;
  color: black;
  text-decoration: none;
}

.div-table {
  display: flexbox;
  flex-direction: row;
  width: 80%;
  margin-top: auto;
  padding: 10px;
  font-size: 40px;
}
.wrapper h1{
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 0;
  font-family: Comic Sans MS;
  font-size: 100px;

}
.edit-btn {
  width: 50px;
  height: 50px;
  position: relative;
  left: 12%;
  border: none;
  background-color: #b8c3d1;
  border-radius: 50%;
  transition: all 0.3s ease;
  padding: 10px;
  top: 45px;
  float: right;
  margin-left: 30px;
}
.edit-btn:hover {
  cursor: pointer;
  background-color: #8b98a9;
  scale: (1.01);
}
img {
  width: 100%;
}
.edit:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px black;
}
