 .page{
  background-color: white;
  
}

.profile-picture {
  display: block;
  width: 100%;
  padding-left: 370px;
  margin-bottom: 30px;
  position: absolute;
  left: 21%;
}
#pp {
  width: 180px;
  height: 180px;
  margin-top: 10px;
  border-radius: 50%;
  border: 1px solid black;
}
#edit-photo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 65%;
  left: 38%;
  border: none;
  background-color: #8b98a9;
  border-radius: 50%;
  transition: all 0.3s ease;
  padding: 10px;
}
#upload-photo {
  width: 100%;
}
#edit-photo:hover {
  cursor: pointer;
  background-color: #fff;
  scale: (1.01);
}
#upload {
  display: none;
}
#divEdit{
  top: 250px;
  left: 480px;
  position:absolute; 
  display:block;
  bottom: 200px;
  width: 45%;
  justify-items: center;
  margin-left: 20px;
}

input   {
  font-size:18px;
  padding:10px 10px 10px 1px;
  display:block;
  width:80%;
  border:none;
  border-bottom:1px solid #757575;
  display: block;
}
input:focus     { outline:none; }
.inputdiv{
  display: block;
  padding-bottom: 0;
  margin-bottom: -20px;
}
.label{
  font-size: 20px;
  color: rgb(0, 0, 0);
}
#cancel{
  display:inline-block;
  width: 200px;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 25px;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#00030b;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}
#cancel:active{
  top:0.1em;
  }
  
  
  #save{
    width: 200px;
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#010510;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
  }
  #save:active{
    top:0.1em;
    }
    