.wrapper {
  position: relative;
  z-index: 0;
}

.profile-picture {
  display: inline-block;
  width: 30%;
}
#pp {
  width: 250px;
  margin-top: 10px;
  border-radius: 5%;
  border: 1px solid black;
}
.info {
  display: flex;
  background-color: #b8c3d1;
  margin-left: 7px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
}
.bio {
  display: inline-block;
  width: 50%;
  position: relative;
  top: 14%;
  font-size: 40px;
}
h2 {
  margin-top: 20px;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}
h3 {
  font-family:  'Poppins', sans-serif;
  font-size: 25px;
}
.page {
  display: flex;
}
#edit-btn {
  width: 50px;
  height: 50px;
  position: relative;
  margin-top: 50px;
  border: none;
  background-color: #b8c3d1;
  border-radius: 50%;
  transition: all 0.3s ease;
  padding: 10px;
}
#edit-btn:hover {
  cursor: pointer;
  background-color: #8b98a9;
  scale: (1.01);
}
img {
  width: 100%;
}
.img-icon{
  margin-top: auto;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  top: 35px;
}
.edit:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px black;
}
.posts {
  position: relative;
  top: 7%;
  left: 16%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  z-index: 0;
}
.title {
  background-color: blueviolet;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  width: 698px;
}
.title button {
  margin-left: auto;
  margin-right: 0;
}
.title h3 {
  display: inline;
  font-size: 30px;
  padding-left: 30px;
}
#post {
  border: 1.5px solid rgb(53, 53, 53);
  background-color: black;
}
textarea {
  resize: none;
  width: 700px;
  height: 150px;
  border-radius: 10px;
  font-size: 30px;
  padding: 10px;
  background-color: rgb(243, 242, 226);
  margin-bottom: 30px;
  border: 1px solid rgb(202, 200, 167);
  display: none;
}
#upload-btn {
  width: 45px;
  height: 45px;
  position: relative;
  right: -57%;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  transition: all 0.3s ease;
  padding: 10px;
  margin-right: 70px;
}
#upload-btn:hover {
  cursor: pointer;
  background-color: rgb(141, 131, 151);
  scale: (1.01);
}
.create-label {
  position: relative;
  left: 3%;
}
.create-title {
  position: relative;
  display: flex;
}
.create-title button{
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  right: -43%;
}
.personalPhoto {
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  left: 4%;
  width: 100px;
  height: 100px;
  border-radius: 10%;
  border: 1px solid rgb(90, 90, 90);
}
.name {
  font-size: 25px;
  padding: 0;
  margin: 0;
  position: relative;
  height: 30px;
  top: 0;
  left: 6%;
  text-align: left;
}
.date {
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.create-title label {
  display: inline;
  height: 30px;
}
.new-post {
  display: none;
}
.uploaded {
  background-color: pink;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.35);
  padding: 20px;
  display: none;
  margin-top: 5px;
  width: 698px;
}
.uploaded ul {
  list-style: none;
}
.uploaded ul li {
  margin: 3px;
}
.item {
  display: flex;
  border-bottom: 1px solid black;
  font-size: 25px;
  margin-top: 10px;
  width: 698px;
}
label {
  padding: 10px;
}
.item:last-child {
  display: flex;
  border-bottom: none;
  font-size: 25px;
}
.create {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  width: 800px;
  display: flex;
  padding-left: 50px;
  justify-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
#remove-btn {
  width: 45px;
  height: 45px;
  position: relative;
  left: 12%;
  border: none;
  background-color: white;
  border-radius: 10%;
  transition: all 0.3s ease;
  padding: 10px;
  margin-left: auto;
  margin-right: 120px;
}
#remove-btn:hover {
  cursor: pointer;
  background-color: rgb(141, 131, 151);
  scale: (1.01);
}
#text-btn {
  width: 45px;
  height: 45px;
  position: relative;
  right: -71.5%;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  transition: all 0.3s ease;
  padding: 10px;
}
#text-btn:hover {
  cursor: pointer;
  background-color: rgb(141, 131, 151);
  scale: (1.01);
}
#doneEdit-btn {
  width: 45px;
  height: 45px;
  position: relative;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  transition: all 0.3s ease;
  padding: 10px;
  margin-left: 20px;
}
#doneEdit-btn:hover {
  cursor: pointer;
  background-color: rgb(141, 131, 151);
  scale: (1.01);
}
#done-btn {
  width: 250px;
  height: 40px;
  position: relative;
  border: none;
  border-radius: 10px;
  background-color: rgb(75, 75, 168);
  transition: all 0.3s ease;
  font-size: 25px;
  margin: 20px;
}
.created textarea {
  display: block;
}

#delete-btn {
  width: 45px;
  height: 45px;
  position: relative;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  transition: all 0.3s ease;
  padding: 10px;
  margin-left: 20px;
  margin-right: 100px;
}
#delete-btn:hover {
  cursor: pointer;
  background-color: rgb(141, 131, 151);
  scale: (1.01);
}
#update-btn {
  width: 45px;
  height: 45px;
  position: relative;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  transition: all 0.3s ease;
  padding: 10px;
  margin-left: 10px;
}
#update-btn:hover {
  cursor: pointer;
  background-color: rgb(141, 131, 151);
  scale: (1.01);
}
#download-btn {
  width: 45px;
  height: 45px;
  position: relative;
  left: 12%;
  border: none;
  background-color: white;
  border-radius: 10%;
  transition: all 0.3s ease;
  padding: 10px;
  margin-left: auto;
  margin-right: 120px;
}
#download-btn:hover {
  cursor: pointer;
  background-color: rgb(141, 131, 151);
  scale: (1.01);
}
.user-info {
  background-color: blueviolet;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  width: 698px;
}
.user-info button {
  margin-left: auto;
  margin-right: 0;
}
.user-info h3 {
  display: inline;
  font-size: 30px;
  padding-left: 30px;
}
.post {
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  padding-left: 50px;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}
.files {
  background-color: pink;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.35);
  padding: 20px;
  margin-top: 5px;
  width: 698px;
}
.files ul {
  list-style: none;
}
.files ul li {
  margin: 3px;
}
.item2 {
  display: flex;
  border-bottom: 1px solid black;
  font-size: 25px;
  margin-top: 10px;
  width: 698px;
}
label {
  padding: 10px;
}
.item2:last-child {
  display: flex;
  border-bottom: none;
  font-size: 25px;
}
.created {
  width: 802px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#0051ff, #007bff);
}
::selection{
  color: #fff;
  background: #4267B2;
}
.container{
  width: 500px;
  height: 480px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  transition: height 0.2s ease;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}
.container.active{
  height: 590px;
}
.container .wrapper{
  width: 1000px;
  display: flex;
}
.container .wrapper section{
  width: 500px;
  background: #fff;
}
.container img{
  cursor: pointer;
}
.container .post{
  transition: margin-left 0.18s ease;
}
.container.active .post{
  margin-left: -500px;
}
.post header{
  font-size: 22px;
  font-weight: 600;
  padding: 17px 0;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
}
.post form{
  margin: 20px 25px;
}
.post form .content,
.audience .list li .column{
  display: flex;
  align-items: center;
}
.post form .content img{
  cursor: default;
  max-width: 52px;
}
.post form .content .details{
  margin: -3px 0 0 12px;
}
form .content .details p{
  font-size: 17px;
  font-weight: 500;
}
.content .details .privacy{
  display: flex;
  height: 25px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 11px;
  margin-top: 3px;
  border-radius: 5px;
  align-items: center;
  max-width: 98px;
  background: #E4E6EB;
  justify-content: space-between;
}
.details .privacy span{
  font-size: 13px;
  margin-top: 1px;
  font-weight: 500;
}
.details .privacy i:last-child{
  font-size: 13px;
  margin-left: 1px;
}
form :where(textarea, button){
  width: 100%;
  outline: none;
}
form textarea{
  resize: none;
  font-size: 18px;
  margin-top: 10px;
  min-height: 100px;
}
form textarea::placeholder{
  color: #858585;
}
form textarea:focus::placeholder{
  color: #b3b3b3;
}
form :where(.theme-emoji, .options){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-emoji img:last-child{
  max-width: 24px;
}

form .options :where(.list, li),
.audience :where(.arrow-back, .icon, li .radio){
  display: flex;
  align-items: center;
  justify-content: center;
}
form .options p{
  color: #595959;
  font-size: 15px;
  font-weight: 500;
  cursor: default;
}
form .options .list{
  list-style: none;
}
.options .list li{
  height: 42px;
  width: 42px;
  margin: 0 -1px;
  cursor: pointer;
  border-radius: 50%;
}
.options .list li:hover{
  background: #f0f1f4;
}
.options .list li img{
  width: 23px;
}
form button{
  height: 53px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #BCC0C4;
  cursor: no-drop;
  border-radius: 7px;
  background: #e2e5e9;
  transition: all 0.3s ease;
}
form textarea:valid ~ button{
  color: #fff;
  cursor: pointer;
  background: #4267B2;
}
form textarea:valid ~ button:hover{
  background: #4267B2;
}

.list  {
  margin-left: 30px;
  overflow: hidden;
  display: none;
}
.list ul {
  list-style: none;
  list-style-type: none;
  padding-left: 0em;
  text-indent: 0em;
}
.list li {
  display: flex;
  font-size: 20px;
}
.list li .icon{
  margin-left: 0;
  margin-right: auto;
}
.list li .cancel{
  margin-right: 0;
  margin-left: auto;
}


